@font-face {
    font-family: "roboto";
    src:
    url("/fonts/Roboto-Regular.woff2") format('woff2'),
    url("/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    font-family: "roboto";
    color: white;
    background-color: rgb(42, 35, 49);
}
h1, .h1{
    font-size: 50px;
    font-weight: 600;
}
h2, .h2{
    font-size: 40px;
    font-weight: 500;
}
h3, .h3{
    font-size: 35px;
    font-weight: 400;
}
h4, .h4{
    font-size: 30px;
    font-weight: 300;
}
h5, .h5{
    font-size: 20px;
    font-weight: 200;
}
h6, .h6{
    font-size: 10px;
    font-weight: 100;
}
/* unvisited link */
a:link {
    color:#b951dc;
    text-decoration: none;

}

/* visited link */
a:visited {
    color:#b951dc;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #d26bf6;
}

/* selected link */
a:active {
    color:#d26bf6;
}
.spacer{
    height: 30px;
}
h1,h2,h3,h4,h5,h6,p{
    /*
    margin:0;
    */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
.row{
    backdrop-filter: blur(10px) brightness(0.5);
    border-radius: 35px;
    border: 2px solid white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title, .subtitle{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

}
.searchbar{
    backdrop-filter: blur(10px) brightness(0.5);
    border-radius: 25px;
    border: 2px solid white;
    margin: 0;
    padding: 7px;
    display: flex;

}
.searchbar > input{
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid white;
    width: 90%;
    color: white;
    font-size: 30px;
    margin-right: 5px;
    padding-left: 10px;
}
.searchbar > input:active {
    border: 3px solid white;
}

.searchbar > button{
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid white;
    width: 10%;
    color: white;
}
.searchbar > button > p{
    margin: 0;
}
.search-title{
    text-align: center;
    margin:0px;
    margin-bottom: 10px;
    font-size: 30px;
}
.chip-container{
    display: flex;
    gap:10px;
}
@media (max-width: 992px){
    .chip-container{
        flex-wrap: wrap;
    }
}
.chip{
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid white;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
}